body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}
h1 {
    color: #4d749d;
    align-content: center;
    background-color: #6ab7c5;
    width: 100%;
    height: 70px;
    margin: 0px;
    text-align: center;
}
#userInput{
    width: 75%;
    height: 30px;
}
#inputArea {
    margin-top: 20px;
    text-align: center;
    
}
#blocoFora{
    width: 100%;
    margin: 0px;
    display: grid;
    
}
#outputArea1 {
    margin-top: 20px;
    margin-left: 100px;
    text-align: start;
    border: 1px solid #ddd;
    background-color: #b6d7f2;
    width: 700px;
    
}
#outputArea2 {
    margin-top: 20px;
    margin-right: 100px;
    text-align: end;
    border: 1px solid #ddd;
    background-color: #7cbcc5;
    width: 700px;
    display: flex;
    justify-self: right;
}
#sendMessage {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #6fb3c4;
    color: white;
    border: none;
    cursor: pointer;
    width: 150px;
}
#sendMessage:hover {
    background-color: #7cc4d6;
}